---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Counter from "../components/Counter.jsx";
---

<Layout title="Astro excelent">
	<div class="wrapper flow">
		<div class="region">
			<h1>Astro excelent</h1>
		</div>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.
			<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
		<div>
			<Counter client:idle />
		</div>

		<section class="section">
			<h2>Posts</h2>
			<ul role="list" class="grid" data-layout="50-50">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul>
			<div class="link">
				<a href="/posts">See all posts</a>
			</div>
		</section>

		<section>
			<h2>Projects</h2>
			<ul role="list" class="grid" data-layout="50-50">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul>
		</section>
	</div>
</Layout>
