---
import Marquee from "./Marquee.jsx";
import AnimationControl from "./AnimationControl.jsx";
import skills from "../data/skills.json";
import Icon from "./icons/Icon.jsx";

import { icons } from "./icons/icons";

export interface Props {
	current?: string;
	title?: string;
}

const { current, title } = Astro.props;
const isCurrent = (page: string): "page" | undefined =>
	current == page ? "page" : undefined;
---

<div class="pre-head">
	<AnimationControl client:idle />
	<Marquee>
		{
			skills.skills.map((item) => (
				<div>
					<span>{item.value}</span>
				</div>
			))
		}
	</Marquee>
</div>
<header class="site-head">
	<div class="head__inner">
		<div class="wrapper">
			<h1>
				<span class="vh">
					{title}
				</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="331"
					height="83"
					fill="none"
					><rect
						width="107"
						height="70"
						y="6"
						fill="currentColor"
						rx="4"></rect><path
						fill="#fff"
						d="M38.631 47.202h-9.703v-6.469h9.703v-9.298h6.468v9.298h9.703v6.469H45.1V56.5h-6.468v-9.298Z"
					></path><path
						fill="#fff"
						d="M50.944 58.5V21.747h14.5c2.788 0 5.163.533 7.125 1.598 1.962 1.052 3.457 2.518 4.486 4.396 1.041 1.867 1.561 4.02 1.561 6.46 0 2.441-.526 4.595-1.579 6.461-1.053 1.866-2.578 3.32-4.576 4.36-1.986 1.042-4.39 1.562-7.214 1.562h-9.242v-6.227h7.986c1.495 0 2.728-.257 3.697-.772.98-.526 1.71-1.25 2.189-2.171.49-.933.736-2.004.736-3.212 0-1.22-.246-2.285-.736-3.195-.479-.92-1.208-1.633-2.19-2.135-.98-.515-2.225-.772-3.732-.772h-5.24v30.4h-7.77Z"
					></path><path
						fill="currentColor"
						d="M133.718 46h-8.383V10.555h13.637c9.179 0 16.077 2.282 16.077 11.567 0 9.286-6.898 11.568-16.077 11.568h-5.254V46Zm0-28.388v9.127h5.519c3.873 0 6.951-.85 6.951-4.617 0-3.714-3.078-4.51-6.951-4.51h-5.519Zm24.185 15.123c0-9.498 6.633-13.796 13.955-13.796 7.217 0 13.903 4.298 13.903 13.796s-6.686 13.902-13.903 13.902c-7.322 0-13.955-4.404-13.955-13.902Zm13.955-7.535c-3.183 0-5.73 1.963-5.73 7.535 0 5.518 2.441 7.64 5.73 7.64 3.237 0 5.678-2.122 5.678-7.64 0-5.572-2.547-7.535-5.678-7.535ZM189.7 38.57V10.555h8.065v25.894c0 2.494.796 2.971 3.502 2.971h2.282V46h-5.147c-6.473 0-8.702-1.22-8.702-7.429Zm14.032-18.89h8.649l5.147 16.45 5.041-16.45h8.649L221.136 46c-2.547 6.686-4.51 8.543-11.355 8.543h-2.6v-5.837h1.592c3.396 0 3.98-.159 4.776-2.175l.265-.69-10.082-26.16Zm28.737 12.576c0-9.18 5.625-13.371 11.09-13.371 3.343 0 6.58 1.538 8.596 4.404l1.061-3.608h6.951v24.355c0 8.861-5.2 12.735-13.424 12.735-4.351 0-9.233-1.433-11.674-6.262l6.58-2.387c.955 1.91 3.024 2.493 4.881 2.493 3.237 0 5.625-1.38 5.625-4.987v-4.723c-2.282 2.812-5.359 4.139-8.331 4.139-5.73 0-11.355-4.776-11.355-12.788Zm8.384-.424c0 4.669 2.653 6.95 5.837 6.95 3.13 0 5.783-1.591 5.783-6.738S249.82 25.2 246.69 25.2c-3.184 0-5.837 2.016-5.837 6.633Zm24.656 6.738V10.555h8.066v25.894c0 2.494.796 2.971 3.502 2.971h2.282V46h-5.147c-6.474 0-8.703-1.22-8.703-7.429Zm15.306-5.836c0-9.498 6.633-13.796 13.955-13.796 7.217 0 13.903 4.298 13.903 13.796s-6.686 13.902-13.903 13.902c-7.322 0-13.955-4.404-13.955-13.902ZM294.77 25.2c-3.183 0-5.73 1.963-5.73 7.535 0 5.518 2.441 7.64 5.73 7.64 3.237 0 5.678-2.122 5.678-7.64 0-5.572-2.547-7.535-5.678-7.535Zm15.879.637v-6.155H315v-6.58h8.065v6.58h5.731v6.155h-5.731v10.612c0 2.494.796 2.971 3.396 2.971h2.335V46h-5.094c-6.474 0-8.702-1.22-8.702-7.429V25.837h-4.351ZM277.993 76.126c0-.233.004-.676.014-1.329a464.415 464.415 0 0 1 .112-5.398c.037-1.08.07-2.176.098-3.285.037-1.11.074-2.168.111-3.175.038-1.016.08-1.91.126-2.684.047-.783.089-1.38.126-1.79a25.102 25.102 0 0 1 2.629-.378 32.002 32.002 0 0 1 2.895-.126c1.23 0 2.307.173 3.23.518.932.345 1.654.885 2.167 1.622.522.736.783 1.687.783 2.852 0 1.184-.214 2.21-.643 3.077a4.403 4.403 0 0 1-1.93 2c-.857.466-1.939.699-3.244.699-.261 0-.573-.019-.937-.056a6.053 6.053 0 0 1-.825-.154c-.009.252-.023.7-.042 1.342-.009.643-.028 1.361-.056 2.154l-.056 2.335a83.95 83.95 0 0 0-.028 1.888h-.936c-.401 0-.835-.01-1.301-.028-.457-.01-.89-.024-1.3-.042-.411-.01-.741-.024-.993-.042Zm4.628-11.243c.196.038.42.07.672.098.261.019.512.028.755.028.447 0 .862-.07 1.244-.21.382-.149.69-.373.923-.67.233-.309.35-.7.35-1.176 0-.69-.201-1.155-.602-1.398-.401-.252-.937-.377-1.608-.377a8.57 8.57 0 0 0-.825.042c-.289.018-.592.046-.909.084V64.882Zm17.546 10.46c-.261.28-.75.55-1.468.81-.709.271-1.501.406-2.377.406-1.138 0-2.005-.265-2.601-.797-.587-.531-.984-1.281-1.189-2.251-.205-.979-.307-2.116-.307-3.412 0-1.016.009-2.037.028-3.062.018-1.026.042-2.042.07-3.049.037-1.007.074-1.98.111-2.922.047-.951.089-1.85.126-2.699.047-.858.093-1.64.14-2.35.662-.046 1.273-.07 1.832-.07.363 0 .722.01 1.077.029.354.019.745.046 1.174.084-.046.81-.102 1.71-.168 2.698-.056.98-.111 1.981-.167 3.007-.047 1.025-.094 2.018-.14 2.978-.047.96-.084 1.832-.112 2.615a79.032 79.032 0 0 0-.028 1.86c0 .606.023 1.17.07 1.692.056.513.177.932.363 1.259a.914.914 0 0 0 .839.475c.317 0 .574-.07.77-.21.205-.149.372-.335.503-.56.065.113.168.337.308.672.139.326.293.69.461 1.09.168.402.317.765.447 1.092.131.317.21.522.238.615Zm10.229-13.019c.234-.084.564-.144.993-.181.438-.047.863-.07 1.273-.07.345 0 .727.014 1.146.041.42.029.76.061 1.021.098.121.755.215 1.52.28 2.294.065.764.098 1.52.098 2.265 0 1.37-.121 2.662-.364 3.873-.233 1.212-.62 2.28-1.16 3.203a5.901 5.901 0 0 1-2.168 2.167c-.904.531-2.018.797-3.342.797-1.408 0-2.568-.275-3.482-.825a5.782 5.782 0 0 1-2.139-2.321c-.513-.998-.872-2.158-1.077-3.482a29.656 29.656 0 0 1-.294-4.307c0-.68.014-1.37.042-2.07.038-.708.084-1.412.14-2.111.243-.019.56-.033.951-.042.401-.019.764-.023 1.091-.014.466 0 .932.028 1.398.084.476.047.848.112 1.119.196-.065.634-.121 1.319-.168 2.055-.047.727-.07 1.46-.07 2.196 0 1.23.079 2.34.238 3.328.168.988.443 1.771.825 2.349.382.578.899.867 1.552.867.615 0 1.105-.261 1.468-.783.373-.522.639-1.221.797-2.098.168-.885.252-1.873.252-2.964 0-.82-.042-1.627-.126-2.42a20.925 20.925 0 0 0-.294-2.125Zm13.099 14.78c-1.091 0-2.093-.135-3.006-.405-.905-.26-1.674-.569-2.308-.923-.624-.363-1.076-.69-1.356-.979.056-.177.163-.433.322-.769a22.488 22.488 0 0 1 1.258-2.237c.224-.345.424-.601.601-.77.448.383.933.76 1.455 1.134a8.865 8.865 0 0 0 1.608.894c.55.234 1.063.35 1.538.35a3.37 3.37 0 0 0 1.007-.14c.298-.102.531-.251.699-.447.177-.196.266-.438.266-.727 0-.336-.163-.658-.49-.965-.317-.317-.727-.616-1.23-.895a14.54 14.54 0 0 0-1.58-.755 13.633 13.633 0 0 1-2.112-1.077 5.307 5.307 0 0 1-1.58-1.538c-.401-.615-.601-1.38-.601-2.293 0-.933.275-1.716.825-2.35.55-.634 1.268-1.114 2.153-1.44a8.307 8.307 0 0 1 2.867-.49c.96 0 1.934.136 2.922.406.988.261 1.795.639 2.419 1.133a5.986 5.986 0 0 1-.363.81c-.177.364-.396.756-.657 1.175-.252.41-.522.788-.811 1.133a7.581 7.581 0 0 0-1.441-.937 3.912 3.912 0 0 0-1.818-.447 4.7 4.7 0 0 0-.95.098 1.77 1.77 0 0 0-.769.35c-.196.167-.294.395-.294.684 0 .28.107.532.321.756.215.214.527.424.937.629.42.205.909.42 1.469.643.559.224 1.128.49 1.706.797a8.117 8.117 0 0 1 1.594 1.077c.494.42.89.909 1.188 1.468.299.55.448 1.184.448 1.902 0 1.146-.285 2.102-.853 2.866-.569.765-1.329 1.334-2.28 1.706-.941.383-1.976.574-3.104.574Z"
					></path>
				</svg>
			</h1>
		</div>
	</div>

	<!-- <nav class="head__nav">
		<ul class="wrapper" role="list">
			<li>
				<a href="/" aria-current={isCurrent("home")}> Home</a>
			</li>
			<li>
				<a href="/posts" aria-current={isCurrent("posts")}> Posts</a>
			</li>
		</ul>
	</nav> -->
</header>
