---
import SiteHead from "../components/SiteHead.astro";
import { LayoutProps } from "../model/layout";

export interface Props extends LayoutProps {}

const { title, current } = Astro.props;
---

<!DOCTYPE html>
<html class="no-js" lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/css/prism.css" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://main--narnia-lp-example-1.netlify.app" />
		<meta property="og:site_name" content="Polyglot Plus" />
		<meta property="og:title" content="Polyglot Plus" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://main--narnia-lp-example-1.netlify.app" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="og:image" content="/images/polyglot.png" />
		<meta name="twitter:image" content="/images/polyglot.png" />
		<meta
			property="og:image:alt"
			content="Page image for Polyglot Plus"
		/>
		<meta
			name="twitter:image:alt"
			content="Page image for Polyglot Plus"
		/>

		<meta
			name="description"
			content="Polyglot Plus um falso catálogo de cursos de idiomas"
		/>
		<meta
			name="twitter:description"
			content="Polyglot Plus um falso catálogo de cursos de idiomas"
		/>
		<meta
			property="og:description"
			content="Polyglot um falso catálogo de cursos de idiomas"
		/>
		<script type="module">
			// This is a capable browser, let's improve the UI further!
			document.documentElement.classList.add("enhanced");
			document.documentElement.classList.remove("no-js");
		</script>
		<title>{title}</title>
	</head>
	<body>
		<SiteHead {current} {title} />
		<main tabindex="-1">
			<slot />
		</main>
		<footer class="bg-dark text-primary">
			<div class="wrapper">
				<p class="site-foot">
					Made with <span class="vh">love</span>
					<span aria-hidden="true">❤️</span> by &copy; Narnia Studio
					- built with
					<a href="https://astro.build/">Astro</a>
				</p>
			</div>
		</footer>
		<script src="/js/scroll-animation.js" type="module" is:inline></script>
	</body>
</html>
